<footer>
 <div class="container">
  <div class="wrapper">
   <div>
     <h2>Búsquedas frecuentes</h2>
     <ul>
       <li><a href="">Viajes de Última Hora</a></li>
       <li><a href="">Viajes de Luna de Miel</a></li>
       <li><a href="">Viajes con Todo Incluido</a></li>
     </ul>
   </div>
    <div>
      <h2>Zonas populares</h2>
      <ul>
          <li><a href="./regiones-de-italia.html">Regiones de Italia</a></li>
          <li><a href="./norte-de-italia.html">Norte de Italia</a></li>
      </ul>
    </div>
    <div>
     <h2>Destinos populares</h2>
     <ul>
      <li><a href="./lombardia.html">Viaja a Lombardia</a></li>
      <li><a href="">Viaja a Génova</a></li>
      <li><a href="">Viaja a Milán</a></li>
      <li><a href="">Viaja a Napoles</a></li>
      <li><a href="">Viaja a Roma</a></li>
      <li><a href="">Viaja a Turín</a></li>
      <li><a href="">Viaja a Venecia</a></li>
     </ul>
    </div>
    <div>
     <h2>Más información</h2>
     <ul>
      <li><a href="./presentacion.html">Presentación</a></li>
      <li><a href="">Centro de ayuda</a></li>
      <li><a href="">Contacta con nostros</a></li>
      <li><a href="./enlaces.html">Enlaces</a></li>
     </ul>
    <div>
        <a href="./index.html">
            <img class="logo-footer" src="../assets/images/logo.svg"  alt="La dolce Italia!" />
        </a>
    </div>
    </div>
  </div>
  <hr>
  <div class="credit">
   <p>2021 &copy; La Dolce Italia</p>
   <p>Página Web realizada por Uliana Sudlenkova, para la asignatura Herramientas <abbr title="HyperText Markup Language" lang="en">HTML</abbr> y <abbr title="Cascading Style Sheets" lang="en">CSS</abbr>. Primer semestre del curso 2021-2022</p>
  </div>
 </div>
</footer>