<header>
    <div class="container">
        <div class="title">
            <h2>Viajes a Italia</h2>
        </div>
        <div class="brand">
            <a href="./index.html"><img class="logo" src="../assets/images/logo.svg" alt="La dolce Italia" title="La dolce Italia"></a>
        </div>
        <nav>
            <ul>
                <li><a href="./presentacion.html">La dolce Italia</a></li>
                <li><a id="menu-regiones-italia" href="./regiones-de-italia.html">Regiones de Italia</a></li>
                <li><a href="./enlaces.html">Enlaces</a></li>
            </ul>
        </nav>
    </div>
</header>
<div id="submenu-regiones-italia">
    <nav>
        <ul class="group-regiones" id="norte">
            <li class="title"><a href="./norte-de-italia.html">Norte</a>
                <ul class="sub-group-regiones">
                    <li><a href="#">Valle de Aosta</a></li>
                    <li><a href="#">Piamonte</a></li>
                    <li><a href="#">Liguria</a></li>
                    <li><a href="./lombardia.html">Lombardía</a></li>
                    <li><a href="#">Véneto</a></li>
                    <li><a href="#">Trentino Alto Adigio</a></li>
                    <li><a href="#">Friuli Venecia Julia</a></li>
                    <li><a href="#">Emilia Romaña</a></li>
                </ul>
            </li>

        </ul>
        <ul class="group-regiones" id="sur">
            <li class="title"><a href="#">Sur</a>
                <ul class="sub-group-regiones">
                    <li><a href="#">Campaniar</a></li>
                    <li><a href="#">Basilicatar</a></li>
                    <li><a href="#">Abruzosr</a></li>
                    <li><a href="#">Moliser</a></li>
                    <li><a href="#">Apuliar</a></li>
                </ul>
            </li>
        </ul>
        <ul class="group-regiones" id="centro">
            <li class="title"><a href="#">Centro</a>
                <ul class="sub-group-regiones">
                    <li><a href="#">Toscana</a></li>
                    <li><a href="#">Umbría</a></li>
                    <li><a href="#">Marcas</a></li>
                    <li><a href="#">Lacio</a></li>
                </ul>
            </li>
        </ul>
        <ul class="group-regiones" id="islas">
            <li class="title"><a href="#">Islas</a>
                <ul class="sub-group-regiones">
                    <li><a href="#">Cerdeña</a></li>
                    <li><a href="#">Sicilia</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>